.error-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 20px 30px;
  pointer-events: none;
  transition: .5s linear;
  display: none;
}

.error-container_active {
  display: flex;
  pointer-events: all;
  cursor: pointer;
}

.error-container__text {
  color: brown;
  margin: 0;
  font-size: 14px;
  line-height: 100%;
}