.movies-cardlist__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 50px 40px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.movies-cardlist__alert {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.movies-cardlist__button {
  width: 100%;
  max-width: 320px;
  min-height: 36px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  background: #2F2F2F;
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.movies-cardlist__button:hover {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .movies-cardlist__container {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 1040px) {
  .movies-cardlist__container {
    grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 960px) {
  .movies-cardlist__container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 720px) {
  .movies-cardlist__container {
    grid-template-columns: repeat(1, 300px);
  }
}

@media (max-width: 400px) {
  .movies-cardlist__container {
    gap: 35px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}