.portfolio {
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
}

.portfolio__container {
  margin: 0 70px 195px;
  max-width: 1140px;
  width: 100%;
  font-weight: 400;
  padding: 0;
}

.portfolio__title {
  font-size: 18px;
  line-height: 1.2;
  color: #8B8B8B; 
}

.portfolio__links {
  margin: 33px 0 0;
  list-style-type: none;
  padding: 0;
}

.portfolio__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  font-size: 30px;
  line-height: 2.15;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  padding-bottom: 11px;
  padding-top: 12px;
}

.portfolio__link::after {
  content: '';
  display: inline-flex;
  margin-right: 5px;
  width: 18px;
  height: 17px;
  background-image: url("../../../images/link.svg");
  background-size: cover;
}

.portfolio__link:last-of-type {
  border: none;
}

@media screen and (max-width: 800px) {
  .portfolio__container {
    margin: 0 50px 160px;
  }
  .portfolio__title {
    color: #A0A0A0;
  }

  .portfolio__links {
   padding: 0;
   margin-top: 29px;
  }
  .portfolio__link {
    font-size: 28px;
    line-height: 2.35;
    padding-top: 11px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 610px) {
  .portfolio__container {
    margin: 0 14px 130px;
  }
  .portfolio__title {
    font-size: 14px;
    color: #A0A0A0;
  }
  .portfolio__links {
    margin-top: 25px;
  }
  .portfolio__link {
    border-bottom: 1px solid #E6E6E6;
    font-size: 18px;
    line-height: 2.7;
    padding-bottom: 6px;
  }
  .portfolio__link::after {
    width: 11px;
    height: 11px;
  }
}
/* 
@media screen and (max-width: 320px) {
  .portfolio__links {
   padding: 0;
   margin-top: 29px;
  }
} */