.techs {
  padding: 100px 50px;
  background-color: #272727;
  font-weight: 400;
}

.techs__container {
  max-width: 1140px;
  margin: 0 auto;
}

.section__title {
  border-bottom: 1px solid 
  #DADADA;
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 1.66;
  letter-spacing: 0.04;
}

.techs__title {
  margin: 90px auto 0;
  max-width: 600px;
  font-size: 50px;
  line-height: 3.63;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__subtitle {
  margin: 25px auto 0;
  max-width: 460px;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -0.04em;  
}

.techs__list {
  width: 100%;
  max-width: 690px;
  margin: 100px auto 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
  list-style-type: none;
}

.techs__item {
  width: 100%;
  padding: 22px 0;
  font-size: 14px;
  line-height: 1.05;
  text-align: center;
  letter-spacing: -0.04em;
  background: #303030;
  border-radius: 10px;
  transition: .4s linear;
}

@media screen and (max-width: 800px) {
  .techs {
    padding-left: 30px;
    padding-right: 30px;
  }
  .techs__title {
    margin: 0 auto;
  }
  .techs__subtitle {
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
  }
  .techs__item {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 610px) {
  .techs {
    padding-left: 18px;
    padding-right: 18px;
  }
  .techs__title {
    margin: 60px 0 0;
    font-size: 30px;
    line-height: 36px;
  }  
  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
  }
  .techs__list {
    padding: 0;
  }
  .techs__item {
    width: 100%;
    padding: 22px 0;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 450px) {
  .techs {
    padding-left: 12px;
    padding-right: 12px;
  }
}