.header__nav-tabs {
  margin: 0 auto;
  display: flex;
  margin: 0 25% 0 10%;
}

.header__nav-tabs-link {
  margin: 0 0 0 15px;
  font-size: 13px;
  line-height: 1.125;
  color: #FFFFFF;
  font-weight: 400;
}

.header__nav-tabs-link:first-of-type {
  margin: 0;
}

.section__profile {
  grid-column: 3;
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.section__profile:hover {
  opacity: 0.7;
}

.section__profile-text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0.75;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.5s ease;
}

.section__profile-logo {
  width: 26px;
  height: 26px;
  background-image: url(../../../images/icon__COLOR_icon-main.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  border-radius: 40px;
}

.section__profile-logo_blue {
  background-color: #0F4157;
}

.section__profile-logo_dark {
  background-color: #2F2F2F;
}

@media screen and (max-width: 800px) {
  .header__nav-tabs {
    display: none;
  }
  .section__profile {
    display: none;
  }
}

@media screen and (max-width: 610px) {

}
