.header {
  display: flex;
  background-color: #202020;
  width: 100%;
  min-height: 74px;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.header__container {
  width: 100%;
  max-width: 1140px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__sign-container {
  display: flex;
  width: 100%;
  max-width: 185px;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.05;  
}

.header_blue-color {
  background: #073042;
}

.header__signup {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.05;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: right;
  color: #FFFFFF;
  transition: opacity 0.5s ease;
}

.header__signup:hover {
  opacity: 0.7;
}

.header__signin {
  max-width: 76px;
  width: 100%;
  min-height: 32px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.05;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.5s ease;
  background: #3DDC84;
  border-radius: 3px;
}

.header__signin:hover {
  opacity: 0.7;
}

.header__menu-btn {
  position: absolute;
  top: 25px;
  right: 11px;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  display: none;
  z-index: 2;
}

.mobile-menu {
  display: none;
  position: fixed;
  overflow: auto;
  background-color: #202020;
  flex-direction: column;
  border: 0;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  height: 100vh;
  width: 520px;
  max-width: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 200px;
}

.mobile-menu_overlay {
  position: fixed;
  z-index: 1;
  background-color: #202020;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}

.mobile-menu_type_opened {
  display: flex;
}

.mobile-menu__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 400px;
  align-items: center;
  padding: 0;
  z-index: 2;
}

.mobile-menu__link {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.05;
  margin-bottom: 20px;
  z-index: 2;
}

.link_type_active {
  border-bottom: 1px solid white;
}

.link__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.05;
  align-self: center;
  margin-right: 5px;
}

.link__logo {
  width: 26px;
  height: 26px;
  background-image: url(../../images/icon__COLOR_icon-main.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  border-radius: 40px;
  background-color: #2F2F2F;
}

@media (max-width: 1200px) {
  .header__container {
    margin: 18px 0;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__menu-btn {
    display: block;
    top: 28px;
    right: 30px;
    width: 23px;
    height: 23px;
  }
  .header__menu-btn:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .mobile-menu {
    padding-top: 150px;
  }
  .mobile-menu__link {
    padding-top: 10px;
  }
  /* .mobile-menu__links {
    padding-bottom: 600px;
  } */
}

@media screen and (max-width: 610px) {
  .header {
    padding-left: 18px;
    padding-right: 18px;
  }
  .header__sign-container {
    font-size: 10px;
    line-height: 1.05;
    max-width: 150px;
  }
  .header__signup {
    font-size: 10px;
    line-height: 1.05;
  }
  .header__signin {
    max-width: 54px;
    padding: 5px 0;
    font-size: 10px;
  }
  .header__menu-btn {
    right: 18px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
  .header__sign-container {
    height: 100%;
    gap: 14px;
    max-width: 131px;
  }
  .header__signup {
    font-size: 10px;
    line-height: 1.05;
  }
  .header__signin {
    max-width: 54px;
    height: 26px;
    /* padding: 5px 0; */
    font-size: 10px;
  }
  .header__menu-btn {
    right: 14px;
    top: 22px;
  }
  .mobile-menu {
    padding-top: 136px;
  }
  .mobile-menu__links {
    margin-bottom: 418px;
  }
  .mobile-menu__link {
    padding-bottom: 6px;
    margin-bottom: 12px;
  }
  .link__text {
    margin-right: 10px;
  }
  
}