.promo {
  background-color: #073042;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
}

.promo__container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  padding: 50px 0 60px;
  max-width: 1140px;
}

.promo__title {
  max-width: 600px;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: white;
  margin: 0;
}

.promo__logo {
  margin: 102px 0 0 auto;
  width: 100%;
  max-width: 720px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .promo__container {
  padding: 300px 0 70px;
  margin: 0 44px;
  }
  
  .promo__title {
    margin: 0 auto;
    max-width: 680px;
    text-align: center;
  }
  
  .promo__logo {
    margin: 140px auto 0;
    max-width: 680px;
    height: 230px;
    object-fit: cover;
  }
}

@media screen and (max-width: 610px) {
  .promo__container {
    padding: 183px 0 40px;
    margin: 0;
  }
  .promo__title {
    margin: 0 10px;
    font-size: 31px;
    line-height: 39px;
  }
  .promo__logo {
    margin-top: 60px;
  }
}

@media screen and (max-width: 610px) {
  .promo__container {

  }
}