.search-form {
  padding: 0 70px;
  font-family: "Inter", Arial, sans-serif;
}

.search-form__container {
  max-width: 1140px;
  padding-bottom: 70px;
  margin: 70px auto 10px;
  border-bottom: 1px solid #424242;
}

.search-form__form {
  width: 100%;
  position: relative;
  display: flex;
}

.search-form__input {
  width: 100%;
  height: 72px;
  background: #2F2F2F;
  border-radius: 9px;
  padding: 14px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.05;
  color: #8B8B8B;
  background-image: url(../../../images/icon__COLOR_icon-color.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 2% 50%;
}

.search-form__input::placeholder {
padding-left: 20px; 
}

.search-form__input:focus {
  outline: 1px solid #3ddc84;
}

.search-form__filter-checkbox-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  position: absolute;
  top: 17px;
  right: 18px;
  grid-gap: 28px;
  align-items: center;
}

.search-form__submit-button {
  background-color: 
  #4285F4;
  background-position: center center;
  height: 34px;
  max-width: 100%;
  width: 58.65px;
  transition: opacity 0.5s ease;
  border: none;
  border-radius: 48px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.05;
}

.search-form__line {
  background-color: 
  #424242;
  width: 1px;
  height: 40px;
}

.filter-checkbox {
  width: fit-content;
  transition: opacity 0.5s ease;
}

.filter-checkbox:hover {
  opacity: 0.7;
}

.filter-checkbox__label {
  width: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.filter-checkbox__input {
  position: absolute;
  visibility: hidden;
}

.filter-checkbox__fake-input {
  position: relative;
  height: 20px;
  width: 36px;
  border-radius: 20px;
  background-color: #343434;
  transition: .3s linear;
}

.filter-checkbox__fake-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  border: 1px solid white;
  background-color: #A0A0A0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  transition: .3s linear;
}

.filter-checkbox__input:checked ~ .filter-checkbox__fake-input .filter-checkbox__fake-circle {
  left: calc(100% - 18px);
  background-color: #3DDC84;
}

.filter-checkbox__text {
  margin: 0;
  font-size: 13px;
  line-height: 1.05;
  color: #FFFFFF;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .search-form {
    padding: 0 30px;
  }
  .search-form__container {
    margin: 80px 0 10px;
    padding-bottom: 109px;
  }
  .search-form__input {
    background-size: 22px 22px;
    background-position: 3.5% 50%;
  }
  .search-form__filter-checkbox-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    position: absolute;
    top: 17px;
    right: 18px;
    grid-gap: 18px;
    align-items: center;
  }
}

@media screen and (max-width: 720px) {
  .search-form__container {
    margin: 80px auto 0;
    padding-bottom: 45px;
    border-bottom: 1px solid 
#424242;
  }
  .search-form__filter-checkbox-container {
    grid-template-columns: repeat(1, auto);
    right: 20px;
  }
  .search-form__form {
    display: flex;
    flex-direction: column;
  }
  .search-form__line {
    display: none;
  }
  .filter-checkbox {
    display: none;
  }
  .filter-checkbox__label {
    display: none;
  }
  .filter-checkbox__text {
    display: none;
  } 
}

@media screen and (max-width: 610px) {
  .search-form {
    padding: 0 12px;
    
  }
  .search-form__container {
    margin: 80px 0 10px;
  }
   
  .search-form__input {
    padding: 14px 5px;
    font-size: 11px;
    line-height: 1.05;
    background-image: none;
  }

  .search-form__input::placeholder {
    font-size: 11px;
    line-height: 1.05;
  }
}